.overview {
    padding: 0;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -100px;
    position: absolute;
    background-color: #c73c3c;
    filter: blur(10px);
    height: 50%;
    width: 100%;
    z-index: 0;

}

.overview-text {
    font-size: 2.4em;
    right: 100px;
    text-align: right;
    font-weight: bold;
    font-family: Calibri;
    color: #ffffff;
    width: 45%;
    margin-bottom: -10px;
    margin-left: 52%;
    z-index: 1;
}

<<<<<<< HEAD
.content {
    padding-top: 30px;
    font-size: 36px;
    font-family: Calibri, serif;
    color: #000000;
}

.top-nav-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.top-nav-bar a:hover {
    background-color: white;
    color: black;
}

.top-nav-bar a.active {
    background-color: rgb(0, 0, 255);
    color: white;
}

.top-nav-bar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .top-nav-bar a:not(:first-child) {
        display: none;
    }

    .top-nav-bar a.icon {
        float: right;
        display: block;
    }

    .top-nav-bar.responsive {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
    }

    .top-nav-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 16px 16px;
        display: none;
    }

    .top-nav-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    [O
}

=======
/* place elliott's pfp to the left of the div */
.elliott-pfp {
    position: absolute;
    left: 10%;
    top: 30px;
    width: 20%;
    height: 80%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
>>>>>>> 81a5076159d93d06da88e8dcad91abc0d04edb90
