.overview {
    padding: 0;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -100px;
    position: absolute;
    background-color: #c73c3c;
    filter: blur(10px);
    height: 50%;
    width: 100%;
    z-index: 0;

}

.overview-text {
    font-size: 2.4em;
    right: 100px;
    text-align: right;
    font-weight: bold;
    font-family: Calibri;
    color: #ffffff;
    width: 45%;
    margin-bottom: -10px;
    margin-left: 52%;
    z-index: 1;
}