.overview-text {
    font-size: 2.4em;
    text-align: right;
    font-weight: bold;
    font-family: "Comfortaa";
    color: #ffd700;
    width: 25%;
}

body {
    background-color: #cc0000;
}

* {
    box-sizing: border-box;
}
